.mainComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  margin-bottom: 2px;
}

.mainComponentColor {
  background-color: #ffffffc0;
}

.mainDivSize {
  width: 90vw;
  height: 90vh;
}

.textColor {
  color: black;
}

.textTitle {
  text-align: center;
  font-size: calc(28px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
  padding: 10px;
  font-weight: 500;
}

.textBold {
  font-weight: bold;
}

.textNormal {
  text-align: center;
  font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
}

.textSmaller {
  text-align: center;
  font-size: calc(10px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
}

.taskBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
  height: 100%;
  width: inherit;
  padding: 10px;
}

.taskAnswerbar {
  display: flex;
  height: inherit;
}

.answerBar {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: inherit;
  margin-top: 2px;
  border-bottom-left-radius: 12px;
}

.margin5 {
  margin: 5px;
}

.answerButtonLeftFreeSpace {
  margin-left: 2px;
}

.borderRadiusBottomLeft {
  border-bottom-left-radius: 12px;
}

.borderRadiusBottomRight {
  border-bottom-right-radius: 12px;
}

.borderRadiusTopLeft {
  border-top-left-radius: 12px;
}

.borderRadiusTopRight {
  border-top-right-radius: 12px;
}

.taskDescriptionScrollpanel {
  width: auto;
  min-height: 0px;
  height: 100%;
}

.InfoBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: inherit;
  padding: 4px;
  margin-bottom: 2px;
}

.InfoBarGroupname {
  text-align: left;
  padding-left: 20px;
}

.InfoBarTaskCounter {
  text-align: right;
  padding-right: 20px;
}

.textLeft {
  text-align: left;
  margin-left: 4px;
}

.textMargin {
  margin: 4px;
}

.divCheckbox {
  width: fit-content;
  margin-bottom: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChoiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
}

.RigthWrongOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid #009682;
  width: 40vw;
}

.RigthColor {
  background-color: rgb(173, 255, 47);
}

.WrongColor {
  background-color: rgb(255, 47, 47);
}

.RigthWrongOverlayButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-bottom: 5px;
  width: 100%;
}

.marginOverlay {
  margin: 5vw;
}

.divPadding5 {
  padding: 5px;
}

.textAlignRight {
  align-content: right;
}

.curserPointer {
  cursor: pointer;
}
