body {
  background-color: #009682;
}

/* Main Variabls for the Student frontend design */
.main-variabls {
  --p-button-primary-background: #00961b;
  --p-button-primary-border-color: #00961b;
  --p-button-primary-hover-background: #00b822;
  --p-button-primary-hover-border-color: #00b822;
  --p-button-border-radius: 8px;

  color: black;

  --p-overlay-transparancy: #ffffffc0;
  --p-lineSpacing: 2px;
  --p-main-roundness: 12px;
  --p-font-size-smaller: calc(10px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
  --p-font-size-normal: calc(16px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
}

/* Style for the hole Display */
.taskDisplayStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  margin-bottom: var(--p-lineSpacing);
}

.mainDivSize {
  width: 90vw;
  height: 90vh;
}

/* Sytle for the Title bar */
.taskTitleStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  margin-bottom: var(--p-lineSpacing);
  background-color: var(--p-overlay-transparancy);
  border-top-right-radius: var(--p-main-roundness);
  border-top-left-radius: var(--p-main-roundness);
}


.textTitle {
  text-align: center;
  font-size: calc(28px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
  padding: 10px;
  font-weight: 500;
}

/* Style for the Infobar */
.InfoBarStyle {
  background-color: var(--p-overlay-transparancy);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: inherit;
  padding: 4px;
  margin-bottom: var(--p-lineSpacing);
  font-size: var(--p-font-size-smaller);
}

.InfoBarGroupnameStyle {
  text-align: left;
  padding-left: 20px;
}

.InfoBarTaskCounterStyle {
  text-align: right;
  padding-right: 20px;
}

/* Style for the Taksbody */
.taskBodyStyle {
  background-color: var(--p-overlay-transparancy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
  height: 100%;
  width: inherit;
  padding: 10px;
}

.taskDiscribtionStyle {
  text-align: center;
  font-size: var(--p-font-size-normal);
  min-height: 0;
}

.taskDescriptionScrollpanel {
  width: auto;
  min-height: 0px;
  height: 100%;
}

.taskQuestionStyle {
  text-align: center;
  font-size: var(--p-font-size-normal);
  font-weight: bold;
  padding: 5px;
}

.numberInput {
  margin: 5px;
}

.numberInput input {
  text-align: right;
}

.taskChoiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
}

.divCheckbox {
  width: fit-content;
  margin-bottom: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divCheckbox label {
  font-size: var(--p-font-size-normal);
  text-align: center;
  cursor: pointer;
  padding-left: 5px;
}

/* styl for answerbar*/
.answerBarStyle {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: inherit;
  margin-top: var(--p-lineSpacing);
}

.answerBarStyle div {
  background-color: var(--p-overlay-transparancy);
}

.taskAnswerbarSlot {
  border-bottom-left-radius: var(--p-main-roundness);
  display: flex;
  height: inherit;
}

.taskAnswerbarButtonDiv {
  border-bottom-right-radius: var(--p-main-roundness);
  display: flex;
  height: inherit;
  margin-left: var(--p-lineSpacing);
}

.taskAnswerbarButtonDiv Button {
  margin: 5px;
}