/* All CSS styles for the teachers-frontend */

/* Background color of the whole page. */
body {
  background-color: #009682;
}

/* The position of the content. (@TeacherView) */
.contentDisplay {
  width: 100vw;
  height: 100vh;
  padding: 2%;
}

/* Style for the title-bar. (@taskSetTitle) */
.TaskSetTitle {
  font-size: x-large;
  width: 100%;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-bottom: 0.2%;
  position: relative;
}

.TaskSetTitle h1 {
  padding: 1%;
  flex: 1;
  text-align: center;
}

.qrCodeButton {
  margin-right: 0.75%;
  --p-button-primary-background: #009682;
  --p-button-primary-border-color: #009682;
  --p-button-primary-hover-background: #00baa1;
  --p-button-primary-hover-border-color: #00baa1;
}

/* Style for the datatable (@GroupProgressDisplay) */
.dataTableContainer {
  background: white;
  font-size: 20px;
  color: black;
  width: 100%;
  overflow: auto;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 1%;
  box-sizing: border-box;
}

.dataTable {
  max-height: 75vh;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}

.exerciseInDataTable {
  text-align: center;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

.exerciseInDataTable th,
.exerciseInDataTable td {
  padding: 0;
  padding-right: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid #009682;
  max-width: 150px;
  overflow-wrap: break-word;
  white-space: normal;
}

.exerciseInDataTable td {
  padding-top: 12px;
}

.endTimer {
  font-weight: bold;
  color: rgb(140, 182, 60);
}

.stickyColumn {
  position: sticky;
  left: 0;
  z-index: 2;
  background: white;
  border-top: 2px solid #009682;
}

.stickyHeader {
  padding-top: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  border-bottom: 2px solid #009682;
}

.topLeftCell {
  z-index: 3;
  overflow-wrap: break-word;
  white-space: normal;
  border-top: none;
  border-bottom: 2px solid #009682;
}

/* Style for the exercises (@ExerciseDisplay) */
.exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.exerciseButtonDisplay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  color: black !important;
  font-size: 40px !important;
  padding: 0;
  --p-button-primary-border-color: none;
  --p-button-primary-hover-border-color: none;
  --p-button-primary-active-border-color: none;
  --p-button-border-radius: 50%;
  overflow: visible !important;
}

.exerciseButtonDisplay:disabled {
  opacity: 1 !important;
}

/* Button colors depending of the completion-state of the exercise. */
.skippedColor {
  background-color: rgb(220, 44, 37);
  --p-button-primary-background: rgb(220, 44, 37);
  --p-button-primary-hover-background: rgb(220, 44, 37, 0.85);
  --p-button-primary-active-background: rgb(220, 44, 37, 0.8);
}

.inProgressColor {
  background-color: rgb(35, 161, 224);
  --p-button-primary-background: rgb(35, 161, 224);
  --p-button-primary-hover-background: rgb(35, 161, 224, 0.85);
  --p-button-primary-active-background: rgb(35, 161, 224, 0.8);
}

.notStartedColor {
  background-color: rgb(182, 182, 182);
  --p-button-primary-background: rgb(182, 182, 182);
  --p-button-primary-hover-background: rgb(182, 182, 182, 0.85);
  --p-button-primary-active-background: rgb(182, 182, 182, 0.8);
}

.finishedColor {
  background-color: rgb(140, 182, 60);
  --p-button-primary-background: rgb(140, 182, 60);
  --p-button-primary-hover-background: rgb(140, 182, 60, 0.85);
  --p-button-primary-active-background: rgb(140, 182, 60, 0.8);
}

.alternativeDisplay {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  color: black;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  transform: translate(30%, -26%);
}

.optionsPopover {
  --p-popover-background: rgb(182, 182, 182);
  --p-popover-border-color: rgb(128, 128, 128);
  --p-popover-color: black;
  font-size: 18px;
  max-width: 25vw;
}

.popoverOptionsButton {
  color: black !important;
  --p-button-primary-border-color: rgb(128, 128, 128);
  --p-button-primary-hover-border-color: rgb(128, 128, 128);
  --p-button-primary-active-border-color: rgb(128, 128, 128);
  --p-button-primary-background: rgb(182, 182, 182);
  --p-button-primary-hover-background: rgb(190, 190, 190);
  --p-button-primary-active-background: rgb(198, 198, 198);
  width: 100%;
}

.popoverOptionsButton .p-button-label {
  flex-grow: 1;
  text-align: left;
}

.timer {
  font-size: 26px;
  height: 30px;
  margin-bottom: 3%;
}

/* Style for finished timers. (@Timer) */
.text-green-500 {
  color: rgb(140, 182, 60);
}

/* Style for the qr-code */
.qrCode {
  height: 65vh !important;
  width: 65vh !important;
}

.p-dialog {
  align-items: center;
}
